
:host /deep/ .mat-list-item-content {padding: 0 !important;width: 100%;} 

.headerbottomwrapper.mat-card-content{display:flex;align-items:center;justify-content:space-between;margin-bottom:0}
.logowrappersml{display:none}
.mat-drawer-container{display:none!important}
.mat-list-item{float:right}
.mat-drawer-container{display:none!important}

.pagelogowrapper{margin:0!important;margin:0!important;width:450px;background: #333;padding: 34px 18px;position: absolute;z-index: 9;top: 0px;}
.pagelogowrapper img{max-width:100%;width: inherit;margin: 0 auto;display: block;}

.homemain{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;justify-content:space-between;position: absolute;width: 100%;top: 0px;left: 0;z-index: 9;}
.homemain .smlmenudiv{width:100%;margin:0 auto}
.homemain .mat-list-item{text-align:center;height:100%;width:auto;position:relative;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;color:var(--color-txt)}
.homemain .mat-list-item:first-child{margin-left: 20px;}
.homemain .mat-nav-list{margin:0 auto;width:100%}
.homemain .mat-nav-list span.menuwrapper{position:relative;height:84px;padding-left:38px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex:1 1 auto;background:#fff;width:100%;justify-content: flex-end;}
.homemain mat-nav-list{margin:0 auto;width:1350px}
.vpheaderwrapper .mat-toolbar-row,.vpheaderwrapper .mat-toolbar-single-row{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;box-sizing:border-box;padding:0;width:100%;flex-direction:row;align-items:center;white-space:nowrap;justify-content:center;height: 84px;margin-top: 0px;}
.vpheaderwrapper{z-index:999;color:#2f2f2f;width:100%;}
.vpheaderwrapper.mat-card{background-color:transparent!important;box-shadow:none!important;padding:0!important}
.vpheaderwrapper .mat-nav-list{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;justify-content:space-between;padding-top:0;align-items:center;background: #fff}
.vpheaderwrapper .mat-nav-list .mat-list-item .mat-list-item-content{padding:0!important}
.vpheaderwrapper .mat-nav-list .mat-list-item{background: url(http://all-frontend-assets.s3.amazonaws.com/monetize365/images/topmenu-divider.png) no-repeat right center;}
.vpheaderwrapper .mat-nav-list .mat-list-item:last-child{background-image: none;}
.vpheaderwrapper .mat-nav-list .mat-list-item a{font-size:18px;color:#2f2f2f;padding:0 26px;margin:0 auto;line-height:84px;letter-spacing:0;margin-top:0;text-transform:capitalize;font-weight:400;-webkit-transition:all 200ms linear;-moz-transition:all 200ms linear;-o-transition:all 200ms linear;-ms-transition:all 200ms linear;transition:all 200ms linear}
.vpheaderwrapper .mat-nav-list .mat-list-item:hover a{color:var(--link-hover-color)!important}
.vpheaderwrapper .mat-nav-list .mat-list-item:not(.mat-list-item-disabled):hover{color:var(--link-hover-color)!important}
.vpheaderwrapper .mat-toolbar.mat-primary{background:transparent!important;color:#2f2f2f;min-height: 84px;-webkit-box-shadow: 0 7px 6px -6px #b7b7b7;-moz-box-shadow: 0 7px 6px -6px #b7b7b7;box-shadow: 0 7px 6px -6px #b7b7b7}
.topmenuiconlogo{display:none}
.logowrapper img{max-width:100%}
.active a{color:var(--link-hover-color)!important}
@media screen and (max-width:1800px) {
.pagelogowrapper{margin-left:10%}
}
@media screen and (max-width:1700px) {
.pagelogowrapper{margin-left:8%}
}
@media screen and (max-width:1670px) {
.homemain .smlmenudiv{width:100%;margin:0 auto}
.vpheaderwrapper .mat-toolbar.mat-primary{width:100%}
}
@media (max-width: 1666px) {
.pagelogowrapper{margin-left:2%}
}
@media (max-width: 1500px) {
.pagelogowrapper{margin-left:2%}
}
@media screen and (max-width:1366px) {
.pagelogowrapper{margin-left:3%}
.vpheaderwrapper .mat-nav-list .mat-list-item a{font-size:20px;padding:0 16px}
.homemain .mat-nav-list span.menuwrapper {margin-left: 0;}
.pagelogowrapper {width: 350px;}
}
@media screen and (max-width:1199px) {
.pTB .mat-card-title1 {--max-font: 34;--min-font: 24;line-height: normal;}
.homemain .mat-nav-list span.menuwrapper {padding-left: 0;}
.homemain .mat-list-item:first-child {margin-left: 0;}
.vpheaderwrapper .mat-nav-list .mat-list-item a,.vpheaderwrapper .mat-nav-list .mat-list-item:hover a{font-size:18px}
.pagelogowrapper{margin-left:10%}
.vpheaderwrapper{position:inherit!important}
.homemain .mat-list-item{height:auto}
.homemain .mat-drawer-backdrop.mat-drawer-shown{visibility:hidden!important}
.homemain{display:block;justify-content:space-between;position: relative;}
.homemain .mat-list-item{float:none}
.homemain .smlmenudiv{display:none;width:100%}
.homemain .smlmenudiv.show{display:block}
.homemain .mat-nav-list span.menuwrapper{display:block;height:auto;margin-left:0;background:var(--main-bg-color)}
.homemain .mat-list-item:before{display:none}
.homemain mat-nav-list span.logowrapper{display:none}
.vpheaderwrapper .mat-nav-list a{width:100%;display:inline-block}
.vpheaderwrapper{top:0;margin-top:0}
.vpheaderwrapper .mat-toolbar.mat-primary{background:#161616!important;color:var(--link-color)}
.vpheaderwrapper .mat-toolbar-row,.vpheaderwrapper .mat-toolbar-single-row{display:inline-block;width:100%}
.vpheaderwrapper .homemain .mat-nav-list{width:100%;align-items:center;display:inline-block!important}
.vpheaderwrapper .mat-toolbar-row,.mat-toolbar-single-row{height:auto;padding:0!important}
.vpheaderwrapper .logowrappersml{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-flex:1;flex:1 1 50%;margin-left:15px}
.vpheaderwrapper .logowrappersml img{max-width:90%}
.vpheaderwrapper .mat-drawer-container.mat-drawer-opened{background-color:transparent!important}
.vpheaderwrapper .mat-drawer{background-color:transparent;position:inherit;box-shadow:none!important}
.vpheaderwrapper .homemain .mat-sidenav .mat-nav-list{width:100%;display:inline-block!important;background-color:#3e3e40;padding-top:0}
.vpheaderwrapper .mat-drawer-container.mat-drawer-opened{position:inherit;display:block!important}
.vpheaderwrapper .mat-drawer-backdrop{position:inherit}
.vpheaderwrapper.mat-card{padding:0!important}
.vpheaderwrapper .mat-nav-list .mat-list-item{border-bottom:1px solid #eaeaea;padding:0}
.vpheaderwrapper .mat-nav-list .mat-list-item .mat-list-item-content{width:100%}
.vpheaderwrapper .mat-nav-list .mat-list-item a{color:var(--link-color);height:auto!important;line-height:normal;display:block;padding:10px}
.pagelogowrapper{display:none}
.mat-icon-button.mat-animation-noopable .smlmenudiv.ng-star-inserted{display:none!important}
.mat-icon-button.mat-animation-noopable.cdk-touch-focused .smlmenudiv.ng-star-inserted{display:block!important}
.topmenuiconlogo{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;width:100%;align-items:center;padding:10px}
.homemain .mat-icon-button{display:block!important;background:var(--main-bg-color);margin-right:15px;width:60px;height:60px;line-height:60px;border-radius:0}
.homemain .mat-icon{height:29px;width:40px;color:var(--link-hover-color)}
.homemain .mat-icon.material-icons{font-size:40px}
.vpheaderwrapper .mat-nav-list .mat-list-item {background-image: none;}
}
@media screen and (max-width:767px) {
.homemain .mat-icon-button{width:40px;height:40px;line-height:40px}
.homemain .mat-icon{height:25px;width:40px;font-size:30px}
}