<!-- <ng-container *ngIf="router.url == '/' || router.url == '/home'"> -->
<ng-container>
    <mat-card class="headerbottom vpheaderwrapper">
      <mat-card-content class="mainwrappercontent">
        <span class="homemain">
          <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span class="topmenuiconlogo">
                <span class="logowrappersml" fxFlex><a [routerLink]="['/']"><img src="../../../assets/images/logo.png"
                      class="landinglogoblock1"></a></span>
                <button mat-icon-button (click)="toggleNavbar()" fxShow="true" fxHide.gt-sm>
                  <mat-icon>menu</mat-icon>
                </button>
                <span class="menu-spacer"></span>
              </span>
              
              <span fxShow="true" class="smlmenudiv" [ngClass]="{ 'show': navbarOpen }">
                <mat-nav-list fxLayout>
                  <div class="mainwrappercontent">
                    <span class="pagelogowrapper" fxFlex><a [routerLink]="['/']"><img src="../../../assets/images/logo.png"
                      class="landinglogoblock1"></a></span>
                    <span class="menuwrapper">
                      <mat-list-item fxFlex [ngClass]="router.url === '/home' ? 'active' : ''">
                        <a [routerLink]="['/home']">Home</a>
                      </mat-list-item>
                      <mat-list-item fxFlex [ngClass]="router.url === '/geo-fence' ? 'active' : ''">
                        <a [routerLink]="['/geo-fence']">GeoFence</a>
                      </mat-list-item>                 
                      <mat-list-item fxFlex [ngClass]="router.url === '/services' ? 'active' : ''">
                        <a [routerLink]="['/services']">services</a>
                      </mat-list-item>
                      <mat-list-item fxFlex [ngClass]="router.url === '/marketing-data' ? 'active' : ''">
                        <a [routerLink]="['/marketing-data']">marketing data</a>
                      </mat-list-item>
                      <mat-list-item fxFlex [ngClass]="router.url === '/contact-us' ? 'active' : ''">
                        <a [routerLink]="['/contact-us']">Contact Us</a>
                      </mat-list-item>
                    </span>
                  </div>
                  
                </mat-nav-list>
              </span>
  
            </mat-toolbar-row>
          </mat-toolbar>
        </span>
      </mat-card-content>
    </mat-card>
  
   
  
  </ng-container>
  
  
  