
  :host /deep/ .mat-card-title {margin-bottom: 0 !important;}
  :host /deep/ .mat-card-subtitle:not(:first-child), .mat-card-title:not(:first-child) {margin-top: 0;}
  :host /deep/ .mat-card-subtitle {margin-bottom: 0 !important;}

.homebannerbg{background:url(../../../assets/images/homebannerbg.jpg) no-repeat center center #fac223;background-size: cover;margin:0!important;padding:84px 0 0!important;border:0!important;border-radius:0!important;box-shadow:none!important;min-height: 750px;}
.homebanner-img-wrapper{width: 553px; height: 702px; display: block;margin-top: 84px;}
.homebanner-img-wrapper img{width: auto !important;position: relative;}
.homebanner-img-wrapper img::after{content: '';position: absolute;bottom: 0;right: 0;height: 500px;width: 400px;display: block;z-index: 99;background: url(../../../assets/images/homebanner-img-shadow.png) no-repeat;}

.homebannerbg .mainwrappercontent {height: 100%;}
.homebannerbg .flex-row-gen{height: 100%;align-items: center;justify-content: space-between;}
.homebannerbg .main-row-gen {align-items: center;}

.middlesectiontxt .mat-card-title{text-align: center;}
.middlesectiontxt p{text-align: center;}

.homeblock1{background: url(../../../assets/images/homeblock1bg-leftimg.png) left bottom no-repeat, url(../../../assets/images/homeblock1bg-rightimg.png) right bottom no-repeat;}
.homeblock1.pTB p{width: auto;}


.homeblock2.pTB .mat-card-title1{color:var(--color6-txt)}
.homeblock2.pTB .mat-card-title3{color:var(--color3-txt)}
.homeblock2.pTB p{color:var(--color-txt)}

.homeblock2.mat-card {
  background: url(../../../assets/images/homeblock2bg.jpg) top right 35%/cover no-repeat;
  padding: 0;
  border-radius: var(--border-radius-0);
  min-height: 1px;
}
.homeblock3.pTB p{width: auto;}
.homeblock3.pTB .sideblock-row-gen .mat-card-title3{text-align: left;font-family: VAR(--main-font);margin-top: 0px !important;margin-left: 15px;}
.homeblock3.pTB .mat-list-base .mat-list-item, .homeblock3.pTB .mat-list-base .mat-list-option{height: auto;width: 33.33%;padding-left: 50px;padding-right: 50px;}
:host /deep/ .mat-list-base .mat-list-item .mat-list-item-content,  :host /deep/ .mat-list-base .mat-list-option .mat-list-item-content{padding: 0;}
:host /deep/ .homeblock3.pTB .mat-list-base{padding-top: 0;display: flex;align-items: stretch;justify-content: space-between;margin-top: 30px;}
.homeblock3.pTB .flex-row-gen .main-row-gen .flex-row-gen{justify-content: center;}
.homeblock3.pTB .flex-row-gen .main-row-gen .mat-card-content p{color: var(--color7-txt);}
.homeblock3.pTB .mat-list-base .mat-list-item{position: relative;}
.homeblock3.pTB .flex-row-gen .main-row-gen .mat-card-content{margin-bottom: 0;}

.homeblock4.pTB p{color:var(--color-txt)}
.homeblock4.pTB .mat-card-title1{color:var(--color-txt)}
.homeblock4.pTB p{width: auto;}
.homeblock4.mat-card {
  background: url(../../../assets/images/homeblock4bg.jpg) top right 35%/cover no-repeat;
  padding: 0;
  border-radius: var(--border-radius-0);
  min-height: 1px;
}
.homeblock4listswrapper {background-color: var(--body-bg);padding:25px 0;border-radius: 20px;margin-top: 30px;}
:host /deep/ .homeblock4.pTB .mat-list-base{padding-top: 0;display: flex;align-items: stretch;justify-content: space-between;flex-wrap: wrap;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item{height: auto;width: 12.50%;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .sideblock-gen{box-shadow: 10px 0 6px -6px rgba(0,0,0,0.2);}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .mat-list-item-content{height: 100%;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .mat-list-item-content .flex-column-gen{height: 100%;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .mat-list-item-content .flex-column-gen .sideblock-gen{height: 100%;display: flex;align-items: center;justify-content: center;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .mat-list-item-content .flex-column-gen .sideblock-gen p{font-family: var(--main-semibold-font); font-size: var(--base-menu-font-size);margin-top: 0px !important;padding: 50px 15px;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .box-gradient-yellow p{color: var(--main-txt-color) !important;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .box-gradient-green p{color: var(--main-txt-color) !important;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(1){order:1;z-index: 99999999;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(2){order:2;z-index: 9999999;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(3){order:3;z-index: 999999;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(4){order:4;z-index: 99999;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(5){order:5;z-index: 9999;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(6){order:6;z-index: 999;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(7){order:7;z-index: 99;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(8){order:8;z-index: 9;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(8) .sideblock-gen{box-shadow: none;}

:host /deep/ .homeblock4.pTB .mat-list-base{position: relative;}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item::after {
  content: '';
  position: absolute;
  top: 16%;
  left: 0;
  width: 100%;
  z-index: 999999999;
}

@media (max-width:1700px){
  .homeblock2.mat-card {
    background-position: top right 40%!important;
  }
}
@media (max-width:1199px){
  .homesection2wrapper.mat-card {
    min-height: inherit;
    height: auto;
    padding-top: 70%!important;
    background-size: 198%!important;
    background-repeat: no-repeat;
    background-color: #020e27;
    padding-bottom: 25px!important;
    background-position: top right 0!important;
  }
}
  
