<app-header></app-header>

<mat-card class="homebannerbg">
    <mat-card-content class="mainwrappercontent">
      <div class="flex-row-gen">
        <div class="main-row-gen">
          <mat-card-title>Targeted <br>Digital <br>Marketing</mat-card-title>
          <mat-card-subtitle>for you Advertiser’s business <br>and Consumer needs</mat-card-subtitle>
          <mat-card-content>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting <br>industry. Lorem Ipsum has been the industry's ...</p>
          </mat-card-content>
        </div>
        <div class="sideblock-row-gen">
          <div class="homebanner-img-wrapper">
            <img src="../../../assets/images/homebanner-img.png" class="homebanner-img">         
          </div>           
        </div>
      </div>
    </mat-card-content>
</mat-card>

<mat-card class="homeblock1 pTB mstxtcenter">
  <div class="mainwrapper">
    <mat-card-title class="mat-card-title1">THE MONETIZE 365 PLATFORM IS THE MOST <br>POWERFUL MOBILE MARKETING TECHNOLOGY IN THE INDUSTRY</mat-card-title>
    <mat-card-content>
      <p>Monetize365 is a geofencing and agency service built to support your agency. We creatively design and develop <br>compelling and converting assets for all your advertiser’s digital marketing and geofencing needs. When it comes to <br>marketing, our processes and programs for display advertising are at the top of the industry. </p>
      <p>Monetize 365 offers an unbeatable combination of new-school, cutting edge microtargeting technology, people who are <br>industry leaders, and opportunities to be on the leading edge of the field and outpace your competition.</p>
    </mat-card-content>
  </div>
</mat-card>

<mat-card class="homeblock2 pTB">
  <div class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">GEOFENCING TECHNOLOGY</mat-card-title>
    <mat-card-title class="mat-card-title3">Monetize365 is the demand side platform that gives advertisers <br>unprecedented accuracy in their display advertising!</mat-card-title>
    <mat-card-content>
      <p>
        Monetize365’s demand-side platform was developed with a very specific purpose. <br>Microtargeting a very specific audience right in their residential homes or business <br>place. Our microtargeting technology gives you the ability to pinpoint potential <br>customers with unprecedented accuracy. Starting with segmented for specific lifestyle <br>selects at the onset, we can market directly to just the homes/businesses on the list.</p>
        <p>Monetize 365 innovative technology allows you to target any device that crosses <br>our fenceline. Once a device crosses into a fenced off area, you can continue to <br>send display ads to that device regardless of its current location. It's as simple as <br>a potential customer walking past your store.</p>
    </mat-card-content>
  </div>
</mat-card>

<mat-card class="homeblock3 pTB mstxtcenter">
  <div class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">BETTER MARKETING DATA</mat-card-title>   
    <mat-card-content>
      <p>Reaching the perfect audience is easy with better marketing data. We are the only <br>triple-verified database in the marketplace today.</p>
    </mat-card-content>
  </div>
</mat-card>


<app-footer></app-footer>