<app-header></app-header>

<mat-card class="homebannerbg">
    <mat-card-content class="mainwrappercontent">
      <div class="flex-row-gen">
        <div class="main-row-gen">
          <mat-card-title>Targeted <br>Digital <br>Marketing</mat-card-title>
          <mat-card-subtitle>for you Advertiser’s business <br>and Consumer needs</mat-card-subtitle>
          <mat-card-content>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting <br>industry. Lorem Ipsum has been the industry's ...</p>
          </mat-card-content>
        </div>
        <div class="sideblock-row-gen">
          <div class="homebanner-img-wrapper">
            <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/homebanner-img.png" alt="homebanner-img" class="homebanner-img">         
          </div>           
        </div>
      </div>
    </mat-card-content>
</mat-card>

<mat-card class="homeblock1 pTB mstxtcenter">
  <div class="mainwrapper">
    <mat-card-title class="mat-card-title1">THE MONETIZE 365 PLATFORM IS THE MOST <br>POWERFUL MOBILE MARKETING TECHNOLOGY IN THE INDUSTRY</mat-card-title>
    <mat-card-content>
      <p>Monetize365 is a geofencing and agency service built to support your agency. We creatively design and develop <br>compelling and converting assets for all your advertiser’s digital marketing and geofencing needs. When it comes to <br>marketing, our processes and programs for display advertising are at the top of the industry. </p>
      <p>Monetize 365 offers an unbeatable combination of new-school, cutting edge microtargeting technology, people who are <br>industry leaders, and opportunities to be on the leading edge of the field and outpace your competition.</p>
    </mat-card-content>
  </div>
</mat-card>

<mat-card class="homeblock2 pTB">
  <div class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">GEOFENCING TECHNOLOGY</mat-card-title>
    <mat-card-title class="mat-card-title3">Monetize365 is the demand side platform that gives advertisers <br>unprecedented accuracy in their display advertising!</mat-card-title>
    <mat-card-content>
      <p>
        Monetize365’s demand-side platform was developed with a very specific purpose. <br>Microtargeting a very specific audience right in their residential homes or business <br>place. Our microtargeting technology gives you the ability to pinpoint potential <br>customers with unprecedented accuracy. Starting with segmented for specific lifestyle <br>selects at the onset, we can market directly to just the homes/businesses on the list.</p>
        <p>Monetize 365 innovative technology allows you to target any device that crosses <br>our fenceline. Once a device crosses into a fenced off area, you can continue to <br>send display ads to that device regardless of its current location. It's as simple as <br>a potential customer walking past your store.</p>
    </mat-card-content>
  </div>
</mat-card>

<mat-card class="homeblock3 pTB mstxtcenter">
  <div class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">BETTER MARKETING DATA</mat-card-title>   
    <mat-card-content>
      <p>Reaching the perfect audience is easy with better marketing data. We are the only <br>triple-verified database in the marketplace today.</p>
    </mat-card-content>
    <mat-list>
      <mat-list-item>
        <div class="flex-row-gen">
          <div class="main-row-gen">
            <div class="flex-row-gen">
              <div class="main-row-gen">
                <mat-card-title class="mat-card-title110 text-gradient-blue">260</mat-card-title>
              </div>
              <div class="sideblock-row-gen">
                <mat-card-title class="mat-card-title3">Million <br>Consumers <br>Database</mat-card-title>        
              </div>
            </div>
            <mat-card-content>
              <p>Does your consumer database <br>need addresses?</p>
            </mat-card-content>
          </div>          
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="flex-row-gen">
          <div class="main-row-gen">
            <div class="flex-row-gen">
              <div class="main-row-gen">
                <mat-card-title class="mat-card-title110 text-gradient-green">27</mat-card-title>
              </div>
              <div class="sideblock-row-gen">
                <mat-card-title class="mat-card-title3">Million <br>Executives <br>Database</mat-card-title>        
              </div>
            </div>
            <mat-card-content>
              <p>Looking to reach prospects in highly <br>influential positions or professions?</p>
            </mat-card-content>
          </div>          
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="flex-row-gen">
          <div class="main-row-gen">
            <div class="flex-row-gen">
              <div class="main-row-gen">
                <mat-card-title class="mat-card-title110 text-gradient-yellow">15</mat-card-title>
              </div>
              <div class="sideblock-row-gen">
                <mat-card-title class="mat-card-title3">Million <br>U.S. <br>Businesses</mat-card-title>        
              </div>
            </div>
            <mat-card-content>
              <p>Are you looking for specific <br>industries?</p>
            </mat-card-content>
          </div>          
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</mat-card>

<mat-card class="homeblock4 pTB mstxtcenter">
  <div class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">AGENCY’S ADVANTAGE</mat-card-title>   
    <mat-card-content>
      <p>Simply by working with us, your agency will get access to the following <br>to market to your advertisers:</p>
    </mat-card-content>
    <div class="homeblock4listswrapper">
      <mat-list>
        <mat-list-item>
          <div class="flex-column-gen">
            <div class="main-gen">
              <span class="counterblock box-gradient-yellow">1</span>
            </div>

            <div class="sideblock-gen box-gradient-yellow">
              <p>Marketing <br>copy for <br>website</p>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="flex-column-gen">
            <div class="main-gen">
              <span class="counterblock box-gradient-orange">2</span>
            </div>

            <div class="sideblock-gen box-gradient-orange">
              <p>Marketing <br>copy for <br>Decks</p>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="flex-column-gen">
            <div class="main-gen">
              <span class="counterblock box-gradient-red">3</span>
            </div>

            <div class="sideblock-gen box-gradient-red">
              <p>Marketing <br>copy for <br>Emails</p>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="flex-column-gen">
            <div class="main-gen">
              <span class="counterblock box-gradient-pink">4</span>
            </div>

            <div class="sideblock-gen box-gradient-pink">
              <p>ACCESS TO OUR <br>CREATIVE <br>MARKETING <br>TEAM</p>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="flex-column-gen">
            <div class="main-gen">
              <span class="counterblock box-gradient-deepblue">5</span>
            </div>

            <div class="sideblock-gen box-gradient-deepblue">
              <p>ACCESS TO OUR <br>CREATIVE <br>SERVICES</p>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="flex-column-gen">
            <div class="main-gen">
              <span class="counterblock box-gradient-blue">6</span>
            </div>

            <div class="sideblock-gen box-gradient-blue">
              <p>PURCHASABLE <br>15 MILLION <br>U.S. <br>BUSINESSES <br>LIST</p>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="flex-column-gen">
            <div class="main-gen">
              <span class="counterblock box-gradient-deepgreen">7</span>
            </div>

            <div class="sideblock-gen box-gradient-deepgreen">
              <p>PURCHASABLE <br>15 MILLION <br>U.S. <br>BUSINESSES <br>LIST</p>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="flex-column-gen">
            <div class="main-gen">
              <span class="counterblock box-gradient-green">8</span>
            </div>

            <div class="sideblock-gen box-gradient-green">
              <p>PURCHASABLE <br>15 MILLION <br>U.S. <br>BUSINESSES <br>LIST</p>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>        
  </div>
</mat-card>

<mat-card class="homeblock5 pTB mstxtcenter">
  <div class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">CREATIVE STUDIO</mat-card-title>   
    <mat-card-content>
      <p>We design compelling assets for your advertisers! We provide your advertisers with a creative digital <br>studio. Our team of digital experts specializes in extraordinary branding, design and custom funnels <br>designed to better engage your advertisers and their audience.</p>
    </mat-card-content>
    <div class="mat-tab-group-wrapper">
      <mat-tab-group class="tabwrapper" mat-align-tabs="center" [selectedIndex]="1">
        <mat-tab>
          <ng-template mat-tab-label class="box-gradient-yellow">     
            <mat-card-title class="mat-card-title2">Email Creatives</mat-card-title>    
            <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/emilicon.png" alt="emilicon">              
          </ng-template>
          
          <ng-template matTabContent>            
            <mat-card-title>Email Creatives</mat-card-title>
            <mat-list class="emailcreativecls">    
              <mat-list-item><img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/techandservblock6img3.png" alt="techandservblock6img3"></mat-list-item>
            </mat-list>           
          </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>              
              <mat-card-title class="mat-card-title2">Funnel and <br>Capture Pages</mat-card-title>
              <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/funnelicon.png" style="width: 150px;height: 150px;"alt="funnelicon">
            </ng-template>
            <ng-template matTabContent>
              <mat-card-title>Funnel and Capture Pages</mat-card-title>
              <mat-list>    
                <mat-list-item><img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/funnelimage1.jpg" alt="funnelimage1"></mat-list-item>
                <mat-list-item><img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/funnelimage2.jpg" alt="funnelimage2"></mat-list-item>
                <mat-list-item><img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/funnelimage3.jpg" alt="funnelimage3"></mat-list-item>
                <mat-list-item><img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/funnelimage4.jpg" alt="funnelimage4"></mat-list-item>
                <mat-list-item><img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/funnelimage5.jpg" alt="funnelimage5"></mat-list-item>
              </mat-list>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-card-title class="mat-card-title2">Banner Ad Designs</mat-card-title>
              <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/bannericon.png" style="width: 150px;height: 150px;" alt="bannericon">
          </ng-template>
          <ng-template matTabContent>
            <mat-card-title>Banner Ad Designs</mat-card-title>
            <mat-list class="bannerdesigncls">    
              <mat-list-item>
                <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/techandservblock6img.png" alt="techandservblock6img">
              </mat-list-item>
            </mat-list>
          </ng-template>

        </mat-tab>
         
      </mat-tab-group>
    </div>    
    <button mat-button class="matbuttoncls" [routerLink]="['/services']">See Full Services</button>
  </div>
</mat-card>

<app-footer></app-footer>