:host /deep/ .mat-card-title{margin-bottom:0!important}
:host /deep/ .mat-card-subtitle:not(:first-child),.mat-card-title:not(:first-child){margin-top:0}
:host /deep/ .mat-card-subtitle{margin-bottom:0!important}
.homebannerbg{background:url(http://all-frontend-assets.s3.amazonaws.com/monetize365/images/homebannerbg.jpg) no-repeat center center #fac223;background-size:cover;margin:0!important;padding:84px 0 0!important;border:0!important;border-radius:0!important;box-shadow:none!important;min-height:1px}
.homebanner-img-wrapper{width:553px;height:702px;display:block;margin-top:84px}
.homebanner-img-wrapper img{width:auto!important;position:relative}
.homebanner-img-wrapper img::after{content:'';position:absolute;bottom:0;right:0;height:500px;width:400px;display:block;z-index:99;background:url(http://all-frontend-assets.s3.amazonaws.com/monetize365/images/homebanner-img-shadow.png) no-repeat}
.homebannerbg .mainwrappercontent{height:100%}
.homebannerbg .flex-row-gen{height:100%;align-items:center;justify-content:space-between}
.homebannerbg .main-row-gen{align-items:center}
.middlesectiontxt .mat-card-title{text-align:center}
.middlesectiontxt p{text-align:center}
.homeblock1{background:url(http://all-frontend-assets.s3.amazonaws.com/monetize365/images/homeblock1bg-leftimg.png) left bottom no-repeat,url(http://all-frontend-assets.s3.amazonaws.com/monetize365/images/homeblock1bg-rightimg.png) right bottom no-repeat}
.homeblock1.pTB p{width:auto}
.homeblock2.pTB .mat-card-title1{color:var(--color6-txt)}
.homeblock2.pTB .mat-card-title3{color:var(--color3-txt)}
.homeblock2.pTB p{color:var(--color-txt)}
.homeblock2.mat-card{background:url(http://all-frontend-assets.s3.amazonaws.com/monetize365/images/homeblock2bg.jpg) top right 35%/cover no-repeat;padding:0;border-radius:var(--border-radius-0);min-height:1px}
.homeblock3.pTB p{width:auto}
.homeblock3.pTB .sideblock-row-gen .mat-card-title3{text-align:left;font-family:VAR(--main-font);margin-top:0!important;margin-left:15px}
.homeblock3.pTB .mat-list-base .mat-list-item,.homeblock3.pTB .mat-list-base .mat-list-option{height:auto;width:33.33%;padding-left:50px;padding-right:50px}
:host /deep/ .mat-list-base .mat-list-item .mat-list-item-content,:host /deep/ .mat-list-base .mat-list-option .mat-list-item-content{padding:0;display:block}
:host /deep/ .homeblock3.pTB .mat-list-base{padding-top:0;display:flex;align-items:stretch;justify-content:space-between;margin-top:30px}
.homeblock3.pTB .flex-row-gen .main-row-gen .flex-row-gen{justify-content:center}
.homeblock3.pTB .flex-row-gen .main-row-gen .mat-card-content p{color:var(--color7-txt)}
.homeblock3.pTB .mat-list-base .mat-list-item{position:relative}
.homeblock3.pTB .mat-list-base .mat-list-item .flex-row-gen{justify-content: center;}
.homeblock3.pTB .flex-row-gen .main-row-gen .mat-card-content{margin-bottom:0}
.homeblock4.pTB p{color:var(--color-txt)}
.homeblock4.pTB .mat-card-title1{color:var(--color-txt)}
.homeblock4.pTB p{width:auto}
.homeblock4.mat-card{background:url(http://all-frontend-assets.s3.amazonaws.com/monetize365/images/homeblock4bg.jpg) top right 35%/cover no-repeat;padding:0;border-radius:var(--border-radius-0);min-height:1px}
.homeblock4listswrapper{background-color:var(--body-bg);padding:25px 0;border-radius:20px;margin-top:30px}
:host /deep/ .homeblock4.pTB .mat-list-base{padding-top:0;display:flex;align-items:stretch;justify-content:center;flex-wrap:wrap}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item{height:auto;width:12.5%}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .sideblock-gen{box-shadow:10px 0 6px -6px rgba(0,0,0,0.2)}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .mat-list-item-content{height:100%}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .mat-list-item-content .flex-column-gen{height:100%}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .mat-list-item-content .flex-column-gen .sideblock-gen{height:100%;display:flex;align-items:center;justify-content:center}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .mat-list-item-content .flex-column-gen .sideblock-gen p{font-family:var(--main-semibold-font);font-size:var(--base-menu-font-size);margin-top:0!important;padding:50px 15px}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .box-gradient-yellow p{color:var(--main-txt-color)!important}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item .box-gradient-green p{color:var(--main-txt-color)!important}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(1){order:1;z-index:99999999}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(2){order:2;z-index:9999999}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(3){order:3;z-index:999999}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(4){order:4;z-index:99999}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(5){order:5;z-index:9999}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(6){order:6;z-index:999}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(7){order:7;z-index:99}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(8){order:8;z-index:9}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item:nth-child(8) .sideblock-gen{box-shadow:none}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item{position:relative}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item::before{content:'';position:absolute;top:84px;left:0;width:100%;z-index:9999;background:url(http://all-frontend-assets.s3.amazonaws.com/monetize365/images/homeblock4shadow.png) repeat-x;height:17px}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item::after{content:'';position:absolute;top:84px;left:50%;width:43px;z-index:99999;background:url(http://all-frontend-assets.s3.amazonaws.com/monetize365/images/homeblock4shadowtoparrow.png) no-repeat;height:32px;opacity:1;transform:translateX(-50%)}
.homeblock5.pTB p{width:auto}
.homeblock5 .mat-tab-group-wrapper{margin-top:40px}
.homeblock5 .mat-tab-label .mat-tab-label-content{display:flex;justify-content:center;align-items:center;white-space:nowrap;width:100%}
.homeblock5.pTB .tabwrapper .mat-tab-labels .mat-card-title2{--max-font:30;--min-font:18;font-family:var(--main-bold-font);font-size:var(--responsive);text-transform:capitalize;color:var(--main-txt-color);line-height:32px;flex:1 1 100%}
.tabwrapper .mat-tab-label .box-gradient-yellow{width:100%}
.triangle-down{width:10%;height:0;padding-left:10%;padding-top:10%;overflow:hidden}
.triangle-down:after{content:"";display:block;width:0;height:0;margin-left:-500px;margin-top:-500px;border-left:500px solid transparent;border-right:500px solid transparent;border-top:500px solid #4679BD}
.homeblock5 .mat-list{display:flex;align-items:stretch;justify-content:center;width:96%;padding:20px;background:#fff;margin:0 auto;margin-top:20px;box-shadow:0 10px 10px 3px rgba(0,0,0,0.5)}
.homeblock5 .mat-list .mat-list-item{flex:1 1 20%;height:343px;overflow:hidden}
.homeblock5 .mat-list .mat-list-item img{width:auto;max-width:100%}
.homeblock5 .matbuttoncls{margin-top:20px!important}
:host /deep/ .homeblock5 .mat-tab-list{position: relative;overflow: hidden;}
:host /deep/ .homeblock5 .mat-tab-list::after{
    content: '';
    position: absolute;
    top: -125px;
    left: 0;
    width: 100%;
    z-index: 999;
    background: url(http://all-frontend-assets.s3.amazonaws.com/monetize365/images/homeblock5tabgradientbg.png) no-repeat;
    height: 315px;
    opacity: 1;
    background-size: 100%;
    z-index: 99;
}
@media (max-width:1700px) {
.homeblock2.mat-card{background-position:top right 40%!important}
}
@media (max-width:1366px) {
.homebanner-img-wrapper{width:406px;height:auto;display:block;margin-top:150px}
.homebanner-img-wrapper img{max-width:100%}
}
@media (max-width:1199px) {
    :host /deep/ .homeblock5 .mat-tab-list::after {
        top: 0px;
    }
.homesection2wrapper.mat-card{min-height:inherit;height:auto;padding-top:70%!important;background-size:198%!important;background-repeat:no-repeat;background-color:#020e27;padding-bottom:25px!important;background-position:top right 0!important}
.homebannerbg .flex-row-gen{flex-wrap:wrap}
.homeblock2.mat-card{min-height:inherit;height:auto;padding-top:46%!important;background-size:178%!important;background-position:top right;background-repeat:no-repeat;background-color:#041438;padding-bottom:25px!important;background-position:top right 0!important;text-align:center}
.homeblock2.pTB p{width:auto}
.homeblock3.pTB .flex-row-gen .main-row-gen .flex-row-gen{flex-wrap:wrap}
.homeblock3.pTB .sideblock-row-gen .mat-card-title3{text-align:center;margin-left:auto}
.homeblock3.pTB .flex-row-gen .main-row-gen .flex-row-gen .main-row-gen{flex:1 1 100%}
.pTB p{margin-top:10px!important}
.pTB p br{display:none}
.homebannerbg .mainwrappercontent{text-align:center}
.homebanner-img-wrapper{margin:0 auto}
.homebannerbg .mat-card-title br{display:none}
.homebannerbg .sideblock-row-gen{width:100%}
.homeblock1.pTB p br{display:none}
.pTB .mat-card-title1{line-height:normal}
.pTB .mat-card-title1 br{display:none}
.homeblock1{position:relative}
.homeblock1 .mainwrapper{position:relative;z-index:99}
.homeblock1::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(255,255,255,0.7);z-index:9}
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item{height:auto;width:24.5%}
.counterblock{margin:10px auto}
.homebannerbg .mat-card-subtitle br{display:none}
.homebannerbg{padding:20px 0 0!important}
.homeblock5 .mat-tab-group-wrapper{margin-top:20px}
}
@media (max-width:991px) {
.homeblock5 .mat-list{flex-wrap:wrap}
.homeblock5 .mat-list .mat-list-item{height:296px;flex:1 1 31%;margin:1%}
.homeblock3.pTB .mat-list-base .mat-list-item,.homeblock3.pTB .mat-list-base .mat-list-option{padding-left:10px;padding-right:10px}
.homebannerbg .mat-card-title{--min-font:57}
.homeblock3.pTB .mat-list-base{margin-top:0}
.homebannerbg .mat-card-subtitle{line-height:normal}
}
@media (max-width: 767px) {
.homebannerbg .mat-card-title{--min-font:57;line-height:60px}
}
@media (max-width:700px) {
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item{height:auto;width:32.5%}
.homeblock5 .mat-list .mat-list-item{flex:1 1 33%}
}
@media (max-width:600px) {
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item{height:auto;width:49.5%}
.homeblock3.pTB .mat-list-base .mat-list-item,.homeblock3.pTB .mat-list-base .mat-list-option{flex:1 1 100%}
.homebannerbg .mat-card-title {--min-font: 42;line-height: normal;}
.homebannerbg .mat-card-subtitle {--max-font: 39;--min-font: 27;}
}
@media (max-width:480px) {
:host /deep/ .homeblock4.pTB .mat-list-base .mat-list-item{height:auto;width:100%}
.homeblock5 .mat-list .mat-list-item{flex:1 1 98%}
.homebanner-img-wrapper{width:100%}
:host /deep/ .homeblock3.pTB .mat-list-base{flex-wrap:wrap}
:host /deep/ .homeblock3.pTB .mat-list-base .mat-list-item .mat-list-item-content{justify-content:center}
:host /deep/ .homeblock3.pTB .mat-list-base .mat-list-item .mat-list-item-content .flex-row-gen{justify-content:center}
.homeblock3.pTB .mat-list-base .mat-list-item:before{content:"";top:0;left:0;position:absolute;height:1px;width:100%;background:-webkit-gradient(linear,left bottom,left top,from(rgba(255,255,255,1)),color-stop(49%,rgba(174,174,174,1)),to(rgba(255,255,255,1)));background:linear-gradient(to left,rgba(255,255,255,1) 0%,rgba(174,174,174,1) 49%,rgba(255,255,255,1) 100%);filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#fff',GradientType=1);-webkit-transform:rotateY(180deg);transform:rotate(180deg);margin-top:15px}
.homeblock3.pTB .mat-list-base .mat-list-item:last-child::after{display:none}
.geofenceblock4 .flex-row-gen .flex-row-gen {flex-wrap: wrap;}
}