<app-header></app-header>

<mat-card class="homebannerbg">
    <mat-card-content class="mainwrappercontent">
      <div class="flex-row-gen">
        <div class="main-row-gen">
          <mat-card-title>Targeted <br>Digital <br>Marketing</mat-card-title>
          <mat-card-subtitle>for you Advertiser’s business <br>and Consumer needs</mat-card-subtitle>
          <mat-card-content>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ...</p>
          </mat-card-content>
        </div>
        <div class="sideblock-row-gen">
          <div class="homebanner-img-wrapper">
            <img src="../../../assets/images/homebanner-img.png" class="homebanner-img">         
          </div>           
        </div>
      </div>
    </mat-card-content>
</mat-card>


<app-footer></app-footer>