<app-header></app-header>

<mat-card class="innerpagebannerbg serviceblockbg">
  <mat-card-content class="mainwrappercontent">
    <div class="flex-row-gen">
      <div class="main-row-gen">
        <mat-card-title>SERVICES</mat-card-title>
        <mat-card-subtitle>Give your advertisers a better <br>digital marketing experience <br>through superior design, <br>experience and technology.</mat-card-subtitle>
      </div>  
      <div class="sideblock-row-gen">
        <div class="servicebanner-img-wrapper">
          <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/servicebanner-img.png" class="servicebanner-img">         
        </div>           
      </div>    
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="serviceblock1bg pTB mstxtcenter">
    <mat-card-content class="mainwrappercontent">
      <mat-card-title class="mat-card-title1">Ad Creation</mat-card-title>
      <mat-card-content>
        <p>We cater to your agency and the needs of your advertisers; we provide compelling emails, ads <br>that stand out, and call-to-action funnel/captures pages that converts!</p>
        <div class="greengradient">
          <mat-card-title class="mat-card-title3">Get more leads with custom banner ads! Our eye catching ads makes <br>reaching your target demographics easier!</mat-card-title>
        </div>
        <p>Apply different ad formats, ad units and banner ad sizes for multiple ad campaigns. <br>Customize the way banner ads are served on sites through programmatic platform. <br>Tune online banner advertising performance and easily reach highest click through <br>rate and engagement. Make online banner ads work for you!</p>
        <div class="serviceblock1img-wrapper">
          <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/serviceblock1img.png" class="serviceblock1img">         
        </div>
      </mat-card-content>
    </mat-card-content>
</mat-card>


<mat-card class="serviceblock2bg pTB">
  <mat-card-content class="mainwrappercontent">
    <div class="flex-row-gen">
      <div class="main-row-gen">
        <mat-card-title class="mat-card-title1">Funnel and Capture Pages</mat-card-title>
        <mat-card-title class="mat-card-title3">Our agency services include the design, development and launching <br>of smart landing pages with tracking codes. We work with you to <br>close the loop on conversion and audience development.</mat-card-title>
        <mat-card-content>
          <p>Our experts have been launching multi-million-dollar <br>funnels and capture websites for over 15 years.</p>
        </mat-card-content>
      </div>  
      <div class="sideblock-row-gen">
        <div class="serviceblock2img-wrapper">
          <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/serviceblock2img.png" class="serviceblock2img">         
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="serviceblock3bg pTB mstxtcenter">
  <mat-card-content class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">EMAIL CREATIVE</mat-card-title>
    <mat-card-content>
      <p>Get the word out by having your email marketing campaigns designed by the professionals. Our email creative <br>team will custom design professional, mobile responsive email that looks great on every device.</p>
      <div class="yellowgradient">
        <p>By putting the right emails in front of the right people, you are able to drive more sales in less time. <br>With the right message, you're able to keep your audience engaged and build strong customer <br>relationships. Let our team of creative experts help you design your next creative!</p>
      </div>      
      <div class="serviceblock3img-wrapper">
        <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/serviceblock3img.png" class="serviceblock3img">         
      </div>
      <mat-card-title class="mat-card-title3 bluetxt">READY TO GET STARTED?</mat-card-title>
    </mat-card-content>
  </mat-card-content>
</mat-card>



<!-- <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/service-img1.jpg" style="padding-top: 84px; width:100%; display:block">  
<img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/service-img2.jpg" style="width:100%; display:block">  
<img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/service-img3.jpg" style="width:100%; display:block">   -->

<app-footer></app-footer>
