<app-header></app-header>

<mat-card class="innerpagebannerbg geofencebg">
    <mat-card-content class="mainwrappercontent">
      <div class="flex-row-gen">
        <div class="main-row-gen">
          <mat-card-title>Monetize <span>365</span></mat-card-title>
          <mat-card-subtitle>is the demand side platform <br>that gives advertisers <br>unprecedented accuracy in <br>their display advertising!</mat-card-subtitle>
        </div>
        <div class="sideblock-row-gen">
          <div class="geofencerightimg">
            <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/geofencebannerrightimg.png" style="width:100%; display:block">
          </div>
        </div>
      </div>
    </mat-card-content>
</mat-card>

<mat-card class="geofenceblock1 pTB mstxtcenter">
  <mat-card-content class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">Monetize365’s demand-side platform was developed <br>with a very specific purpose.</mat-card-title>
    <mat-card-content>
      <p>Microtargeting a very specific audience right in their residential homes or business place. The <br>microtargeting technology gives you the ability to pinpoint potential customers with <br>unprecedented accuracy. Starting with any data segmented for specific lifestyle selects at the <br>onset, we can market directly to just the homes on the list.<br>
      </p>
    </mat-card-content>    
  </mat-card-content>
</mat-card>

<mat-card class="geofenceblock2 pTB mstxtcenter">
  <mat-card-content class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">HOW OUR TECH WORKS</mat-card-title>
    <div class="flex-row-gen">
      <div class="main-row-gen">
        <mat-card-title class="mat-card-title3">How it works</mat-card-title>
        <mat-list>
          <mat-list-item>
            It’s as simple as loading desired address list setting a budget and you are now sending ads to your perspective clients.
          </mat-list-item>
          <mat-list-item>
            Our powerful AI system allows to market to clients based upon a combination of big data and where they live.
          </mat-list-item>
          <mat-list-item>
            Once we capture your clients, we can plug them into the exchanges they love most. 
          </mat-list-item>
        </mat-list>
      </div>
      <div class="sideblock-row-gen">
        <div class="geofenceblock2img">
          <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/geofenceblock2img1.png" style="width:100%; display:block">
        </div>
      </div>
    </div>

    <div class="flex-row-gen">
      <div class="main-row-gen">
        <mat-card-title class="mat-card-title3">Why it works</mat-card-title>
        <mat-list>
          <mat-list-item>
            We perfectly geo-fence around the property line to ensure that we only capture the homeowners that you desire 
          </mat-list-item>
          <mat-list-item>
            Machine learning allows us to, over time, verify that they are the clients that you desire.
          </mat-list-item>
        </mat-list>
      </div>
      <div class="sideblock-row-gen">
        <div class="geofenceblock2img">
          <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/geofenceblock2img2.png" style="width:100%; display:block">
        </div>
      </div>
    </div>


  </mat-card-content>
</mat-card>


<mat-card class="geofenceblock3 pTB mstxtcenter">
  <mat-card-content class="mainwrappercontent">
    <div class="flex-row-gen">
     
        <div class="geofenceblock3leftimg">
          <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/geofenceblock3leftimg.png" style="width:100%; display:block">
        </div>
     
      <div class="main-row-gen">
        <mat-card-title class="mat-card-title2">See exactly which customers are engaging your product </mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle">Individual Fence <br>Reporting </mat-card-subtitle>
      </div>
      <div class="sideblock-row-gen">
        <div class="geofenceblock3rightimg">
          <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/geofenceblock3rightimg.png" style="width:100%; display:block">
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/geo-fence-img3.jpg" style="width:100%; display:block">

<mat-card class="geofenceblock4 pTB mstxtcenter">
  <mat-card-content class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">Our system will allow you to split test <br>on any size campaign</mat-card-title>   
    <div class="flex-row-gen">
      <div class="main-row-gen">
        <mat-card-title class="mat-card-title2">Only show the ads that are performing best</mat-card-title>       
        <div class="flex-row-gen">
          <div class="main-row-gen">
          </div>
          <div class="sideblock-row-gen">
          </div>
        </div>
      </div>
      <div class="sideblock-row-gen">
        <div class="geofenceblock3rightimg">          
          <mat-card-subtitle class="mat-card-subtitle">Human Oversite</mat-card-subtitle>
          <p>Dedicated Account managers that will observer your account daily to ensure your marketing dollars are being best used and allocated to the things that matter most.</p>
          <mat-card-subtitle class="mat-card-subtitle">AI Optimization</mat-card-subtitle>
          <p>Optimized AB Campaigns Realtime Bidding controls CPM optimization</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>



