<app-header></app-header>

<mat-card class="innerpagebannerbg marketingdatablockbg">
  <mat-card-content class="mainwrappercontent">
    <div class="flex-row-gen">
      <div class="main-row-gen">
        <mat-card-title>SERVICES</mat-card-title>
        <mat-card-subtitle>Give your advertisers a better <br>digital marketing experience <br>through superior design, <br>experience and technology.</mat-card-subtitle>
      </div>  
      <div class="sideblock-row-gen">
        <div class="marketingdatabanner-img-wrapper">
          <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdatabanner-img.png" class="marketingdatabanner-img" alt="marketingdatabanner-img">         
        </div>           
      </div>    
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="marketingdatablock1bg pTB mstxtcenter">
  <mat-card-content class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">Consumer List</mat-card-title>
    <mat-card-title class="mat-card-title3">260 Million Consumers</mat-card-title>
    <mat-card-content>
      <p>Our Consumer Database was created to provide a range of information that is easily customizable to <br>your marketing needs. With over 260 Million Consumers in our database, this file allows you <br>to refine your leads by choosing from hundreds of different selection criteria. We offers the highest <br>quality consumer mailing lists in the industry. </p>
    </mat-card-content>
    <div class="marketingdatablock1list">      
      <mat-card-title class="mat-card-title2">Choose from hundreds of search criteria including</mat-card-title>
      <mat-list class="yellowgradient">
        <mat-list-item>Geography</mat-list-item>
        <mat-list-item>Marital Status</mat-list-item>
        <mat-list-item>Ethnicity</mat-list-item>
        <mat-list-item># in Household</mat-list-item>
        <mat-list-item>Presence of Children</mat-list-item>
        <mat-list-item>Home Value</mat-list-item>
        <mat-list-item>Home Sale Date</mat-list-item>
        <mat-list-item>Length of Residence</mat-list-item>
        <mat-list-item>Single/Multi Family</mat-list-item>
        <mat-list-item>Lifestyle Selects</mat-list-item>
        <mat-list-item>Mail Order Buyers</mat-list-item>
        <mat-list-item>Pet Owners</mat-list-item>
        <mat-list-item>Donors</mat-list-item>
        <mat-list-item>Plus, many more!</mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="marketingdatablock2 pTB">
  <mat-card-content class="mainwrappercontent">
    <div class="flex-row-gen">
      <div class="main-row-gen">
        <mat-card-title class="mat-card-title2 textinheritcls">Interested in purchasing a list?</mat-card-title>
        <mat-card-title class="mat-card-title1">Contact our marketing experts now!</mat-card-title>    
        <div class="marketingdatablock2list">      
          <mat-card-title class="mat-card-title2">Target Consumers using our complex selections</mat-card-title>
          <mat-list class="bluebg">
            <mat-list-item>
              <mat-card-title>Geographical Location</mat-card-title>
              <mat-card-content>
                <p>You can select your consumer mailing lists by any territory you need. Select by state, county, metropolitan area (MSA), ZIP Code, radius around an address and, of course, the entire United States. This makes it easy to target your consumer market, in the locations where you know your customers reside.</p>
              </mat-card-content>
            </mat-list-item>
            <mat-list-item>
              <mat-card-title>Age</mat-card-title>
              <mat-card-content>
                <p>You can select your sales leads and mailing list target market by grouping age demographics. For example: you can narrow down your list by looking for consumers who are between the ages of 25-35. If you know your target demographic, this selection can be very helpful.</p>
              </mat-card-content>
            </mat-list-item>
            <mat-list-item>
              <mat-card-title>Income Leve</mat-card-title>
              <mat-card-content>
                <p>You can select by appropriate income levels – that meet your businesses needs and match your businesses target demographic. For example, you can select consumers with annual income over $100,000 per year.</p>
              </mat-card-content>
            </mat-list-item>

            <mat-list-item>
              <mat-card-title>Home Value & Home Ownership</mat-card-title>
              <mat-card-content>
                <p>You can select your sales leads by home value range, such as consumers with home values between $250,000 and $500,000. Additionally, we offer the option to make selections to your consumer mailing list by length of time they have lived in their home. Thus giving you a better idea as to the equity they have invested into their home property.</p>
              </mat-card-content>
            </mat-list-item>
            <mat-list-item>
              <mat-card-title>Ethnicity</mat-card-title>
              <mat-card-content>
                <p>We offer multiple consumer mailing list and sales lead selections based on general ethnicity. This selection can be helpful for your target market or overall consumer demographic.</p>
              </mat-card-content>
            </mat-list-item>
            <mat-list-item>
              <mat-card-title>Hobbies</mat-card-title>
              <mat-card-content>
                <p>DatabaseUSA.com® offers hundreds of consumer hobby selections. We can tailor your list to reach specific consumers who enjoy specialty hobbies. Some of those hobbies include golfers, pet owners, hunters, boat owners, RV owners & many more!</p>
              </mat-card-content>
            </mat-list-item>
            <mat-list-item>
              <mat-card-title>Health Conditions</mat-card-title>
              <mat-card-content>
                <p>We offer selections that are health condition related. These are consumers with specific healthcare needs. These selections include allergy sufferers, arthritis patients, mobility issues, cholesterol focused, diabetic and diabetes sufferers, disabled consumers, senior needs and specialty care and so many more.</p>
              </mat-card-content>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="sideblock-row-gen">
        <div class="marketingdatablock2-img-wrapper">
          <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdatablock2-img.png" class="marketingdatablock2-img" alt="marketingdatablock2-img">         
        </div>           
      </div>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="marketingdatablock3 pTB mstxtcenter">
  <mat-card-content class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">Consumer List</mat-card-title>
    <mat-card-title class="mat-card-title3">260 Million Consumers</mat-card-title>
    <mat-card-content>
      <p>Our Consumer Database was created to provide a range of information that is easily customizable to <br>your marketing needs. With over 260 Million Consumers in our database, this file allows you <br>to refine your leads by choosing from hundreds of different selection criteria. We offers the highest <br>quality consumer mailing lists in the industry. </p>
    </mat-card-content>
    <div class="marketingdatablock3list">      
      <mat-list>
        <mat-list-item>
          <div class="flex-row-gen">
            <div class="main-row-gen">
              <div class="marketingdatablock3-img-wrapper">
                <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdatablock3-img1.jpg" class="marketingdatablock3-img1" alt="marketingdatablock3-img1">         
              </div>
            </div>
            <div class="sideblock-row-gen">
              <p class="icontitlecls">
                <span class="iconcls">
                  <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdatablock3-icon.png" class="marketingdatablock3-icon" alt="marketingdatablock3-icon"> 
                </span>         
                <span class="txtcls">     
                  Business Type
                </span>  
              </p>   
              <mat-card-content>
                <p>You can select any type of business or combination of several business categories for your mailing or contact list. So if you are looking to sell to various companies, who work in several areas of expertise, we can deliver a comprehensive, all in one list to include exactly what you need.</p>
              </mat-card-content>       
            </div>
          </div>    
        </mat-list-item>   
        <mat-list-item>
          <div class="flex-row-gen">
            <div class="main-row-gen">
              <div class="marketingdatablock3-img-wrapper">
                <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdatablock3-img2.jpg" class="marketingdatablock3-img2" alt="marketingdatablock3-img2">         
              </div>
            </div>
            <div class="sideblock-row-gen">
              <p class="icontitlecls">
                <span class="iconcls">
                  <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdatablock3-icon1.png" class="marketingdatablock3-icon1" alt="marketingdatablock3-icon1"> 
                </span> 
                <span class="txtcls">              
                  Geography / Targeted Market Area
                </span> 
              </p>   
              <mat-card-content>
                <p>You can select your marketing or business lists by the whole state, county or metropolitan area (MSA), Zip Code(s), radius around a specific address and, of course, the entire United States. You can also filter by latitude and longitude, congressional districts, and census blocks. DatabaseUSA.com® makes it simple for you to locate your customer. Target your marketing lists to be exactly what you want.</p>
              </mat-card-content>       
            </div>
          </div>    
        </mat-list-item>
        <mat-list-item>
          <div class="flex-row-gen">
            <div class="main-row-gen">
              <div class="marketingdatablock3-img-wrapper">
                <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdatablock3-img3.jpg" class="marketingdatablock3-img3" alt="marketingdatablock3-img3">         
              </div>
            </div>
            <div class="sideblock-row-gen">
              <p class="icontitlecls">
                <span class="iconcls">
                  <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdatablock3-icon2.png" class="marketingdatablock3-icon2" alt="marketingdatablock3-icon2"> 
                </span>                
                <span class="txtcls">SIC Code or NAICS Code</span>
              </p>   
              <mat-card-content>
                <p>SIC or Standard Industry Code is used for business classifications. We can help you select by specific SIC codes or a combination of several SIC Codes for a comprehensive list. We also offer selects by NAICS code, which is similar to an SIC code, but less complex and offers a more broad classification. Additionally, SIC codes can be classified as “primary”, and “secondary” which can help narrow down your search criteria to better specify your marketing list.</p>
              </mat-card-content>       
            </div>
          </div>    
        </mat-list-item>
        <mat-list-item>
          <div class="flex-row-gen">
            <div class="main-row-gen">
              <div class="marketingdatablock3-img-wrapper">
                <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdatablock3-img4.jpg" class="marketingdatablock3-img4" alt="marketingdatablock3-img4">         
              </div>
            </div>
            <div class="sideblock-row-gen">
              <p class="icontitlecls">
                <span class="iconcls">
                  <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdatablock3-icon3.png" class="marketingdatablock3-icon3" alt="marketingdatablock3-icon3"> 
                </span>                
                <span class="txtcls">Sales Volume & Employee Size</span>
              </p>   
              <mat-card-content>
                <p>Pinpoint your potential sales leads by selecting business sales volume. This allows you to find businesses that are the appropriate size for your sales specifications. If you don’t need to sell to businesses that have less than 25 employees, you don’t have to. Additionally, you can select your sales leads using employee size ranges, such as over 100 employees or less than 25 employees. You can add employee size to separate search criteria, which can help you determine industry specific employee siz</p>
              </mat-card-content>       
            </div>
          </div>    
        </mat-list-item>
        <mat-list-item>
          <div class="flex-row-gen">
            <div class="main-row-gen">
              <div class="marketingdatablock3-img-wrapper">
                <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdatablock3-img5.jpg" class="marketingdatablock3-img5" alt="marketingdatablock3-img5">         
              </div>
            </div>
            <div class="sideblock-row-gen">
              <p class="icontitlecls">
                <span class="iconcls">
                  <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdatablock3-icon4.png" class="marketingdatablock3-icon4" alt="marketingdatablock3-icon4"> 
                </span>                
                <span class="txtcls">Complex Selections</span>
              </p>   
              <mat-card-content>
                <p>For example, you can select all manufacturers in California with an employee size range of 25 – 50 employees or all retailers in Dade County with sales exceeding $2 million per year.</p>
              </mat-card-content>       
            </div>
          </div>    
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="marketingdatablock4 pTB mstxtcenter">
  <mat-card-content class="mainwrappercontent">    
    <div class="marketingdatablock4listwrapper">
      <div class="marketingdatablock4listwrapperinset">
        <div class="marketingdatablock4list1 yellowgradient">      
          <mat-card-title class="mat-card-title2">Additional Business List Database Selections Available:</mat-card-title>
          <mat-list>
            <mat-list-item>New Selects Available</mat-list-item>
            <mat-list-item>Multiple Executives</mat-list-item>
            <mat-list-item>Number of PCs</mat-list-item>
            <mat-list-item>Square Footage</mat-list-item>
            <mat-list-item>Advertising Expense per Year</mat-list-item>
            <mat-list-item>Office Equipment Expense per Year</mat-list-item>
            <mat-list-item>Rent Expense per Year</mat-list-item>
            <mat-list-item>Telecom Expense per Year</mat-list-item>
            <mat-list-item>Accounting Expense per Year</mat-list-item>
            <mat-list-item>Legal Expense per Year</mat-list-item>
            <mat-list-item>Technology Expense per Year</mat-list-item>
            <mat-list-item>Business Insurance Expense per year</mat-list-item>
            <mat-list-item>Utilities Expense per Year</mat-list-item>
            <mat-list-item>Consumer Sales Leads Selections</mat-list-item>
            <mat-list-item>Plus, many more.</mat-list-item>
          </mat-list>
        </div>
        <div class="marketingdatablock4list2 greengradient">      
          <mat-card-title class="mat-card-title2">Some Popular Selections of Types of Business Lists Include:</mat-card-title>
          <mat-list>
            <mat-list-item>Banks</mat-list-item>
            <mat-list-item>Grocery Stores</mat-list-item>
            <mat-list-item>Restaurants</mat-list-item>
            <mat-list-item>Bagel Shops</mat-list-item>
            <mat-list-item>Locksmith Services</mat-list-item>
            <mat-list-item>Home Builders</mat-list-item>
            <mat-list-item>Trucking Companies</mat-list-item>
            <mat-list-item>Bicycle Shops</mat-list-item> 
            <mat-list-item>Licensed Professionals</mat-list-item> 
            <mat-list-item>New Businesses</mat-list-item> 
            <mat-list-item>Plus, hundreds more!</mat-list-item> 
          </mat-list>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="marketingdatablock5 pTB mstxtcenter">
  <mat-card-content class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">Executive List</mat-card-title>
    <mat-card-title class="mat-card-title3">27 Million Executives</mat-card-title>
    <mat-card-content>
      <p>We offer a 27 Million Executives Database with Titles. We offer the only 95% Accurate & Triple-Verified Business <br>Database in the industry. Receive the most up-to-date list of Executives, Owners, Managers <br>and Partners in various professional fields. Our experienced account executives are here to help you create the <br>best possible list, with the most accurate data.</p>
    </mat-card-content>
    <div class="marketingdatablock5list">      
      <mat-card-title class="mat-card-title2">Executives Lists Alphabetically by Title</mat-card-title> 
      <div class="flex-row-gen">
        <div class="main-row-gen">
          <mat-list class="liststop">
            <mat-list-item>Title <span>List Count</span></mat-list-item>
            <mat-list-item>Title <span>List Count</span></mat-list-item>
          </mat-list>
          <mat-list class="listsbottom">
            <mat-list-item>Chief Executive Officer <span>144,133</span></mat-list-item>
            <mat-list-item>Chief Financial Officer <span>46,306</span></mat-list-item>
            <mat-list-item>Chief Marketing Officer <span>21,051</span></mat-list-item>
            <mat-list-item>Chief Operating Officer <span>12,871</span></mat-list-item>
            <mat-list-item>Chief Technology Officer <span>27,471</span></mat-list-item>
            <mat-list-item>Director <span>174,538</span></mat-list-item>
            <mat-list-item>Executive Director <span>138,687</span></mat-list-item>
            <mat-list-item>Executive Officer <span>101,718</span></mat-list-item>
            <mat-list-item>Executive Vice President <span>61,176</span></mat-list-item>
            <mat-list-item>Financial Executive <span>208,481</span></mat-list-item>
            <mat-list-item>General Manager <span>67,159</span></mat-list-item>
            <mat-list-item>Human Resource Executive <span>116,318</span></mat-list-item>
            <mat-list-item>Manager <span>2,840,748</span></mat-list-item>
            <mat-list-item>Manufacturing Executive <span>21,517</span></mat-list-item>
            <mat-list-item>Marketing Executive <span>281,434</span></mat-list-item>
            <mat-list-item>Medical Professional <span>117,987</span></mat-list-item>
            <mat-list-item>Office Manager <span>382,312</span></mat-list-item>
            <mat-list-item>Operations Executive <span>72,797</span></mat-list-item>
            <mat-list-item>Owner <span>3,305,015</span></mat-list-item>
            <mat-list-item>Partner <span>125,001</span></mat-list-item>
            <mat-list-item>President <span>657,952</span></mat-list-item>
            <mat-list-item>Principal <span>310,644</span></mat-list-item>
            <mat-list-item>Publisher/Editor <span>17,856</span></mat-list-item>
            <mat-list-item>Religious Director <span>173,134</span></mat-list-item>
            <mat-list-item>Sales Executive <span>169,677</span></mat-list-item>
            <mat-list-item>Vice President <span>72,184</span></mat-list-item>
          </mat-list>       
        </div>        
      </div>    
    </div>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>