<app-header></app-header>
<!-- <mat-card class="marketingdatablock1bg pTB">
    <mat-card-content class="mainwrapper">
      <div class="flex-column-gen">          
        </div>
    </mat-card-content>
</mat-card> -->

<img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdata-img1.jpg" style="padding-top: 84px; width:100%; display:block">  
<img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdata-img2.jpg" style="width:100%; display:block">  
<img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdata-img3.jpg" style="width:100%; display:block">  
<img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdata-img4.jpg" style="width:100%; display:block">  
<img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdata-img5.jpg" style="width:100%; display:block">  
<img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/marketingdata-img6.jpg" style="width:100%; display:block">  

<app-footer></app-footer>