<app-header></app-header>

<mat-card class="innerpagebannerbg teambg">
    <mat-card-content class="mainwrappercontent">
      <div class="flex-row-gen">
        <div class="main-row-gen">
          <mat-card-title>The Team</mat-card-title>
          <mat-card-subtitle>Our team consists of experts <br>in the industry and you can <br>count on us to offer you <br>top agency services. </mat-card-subtitle>
        </div>        
      </div>
    </mat-card-content>
</mat-card>
<mat-card class="teamblock1 pTB mstxtcenter">
  <mat-card-content class="mainwrappercontent">
    <mat-card-title class="mat-card-title1">Our Team</mat-card-title>
    <mat-card-content>
      <p>Just like any other successful organization, we have a group of talented and well-trained <br>professionals, who work tirelessly to offer top-notch services to our clients and partners. It is to them <br>that we owe our thanks for the grand success we have been able to achieve.
      </p>
    </mat-card-content>
    <mat-list class="teamblock1list">
      <mat-list-item>        
       
        <div class="teamblock1imgwrapper"><div class="teamblock1img"><img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/teamimg1.jpg" style="width:100%; display:block"></div></div>
        <div class="teamblock1content">
          <div class="teamblock1contentinner">
            <mat-card-title class="mat-card-title1">Beto Paredes</mat-card-title>
            <mat-card-content>
              <p>Founding Partner - Business Development</p>
            </mat-card-content>
          </div>          
        </div>
      </mat-list-item>
      <mat-list-item>  
        <div class="teamblock1imgwrapper"><div class="teamblock1img"><img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/teamimg2.jpg" style="width:100%; display:block"></div></div>
        <div class="teamblock1content">
          <div class="teamblock1contentinner">
            <mat-card-title class="mat-card-title1">Brance Wages</mat-card-title>
            <mat-card-content>
              <p>Founding Partner - CEO</p>
            </mat-card-content>
          </div>          
        </div>
      </mat-list-item>
      <mat-list-item>               
        <div class="teamblock1imgwrapper"><div class="teamblock1img"><img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/teamimg3.jpg" style="width:100%; display:block"></div></div>
        <div class="teamblock1content">
          <div class="teamblock1contentinner">
            <mat-card-title class="mat-card-title1">David Montgomery</mat-card-title>
            <mat-card-content>
              <p>CTO</p>
            </mat-card-content>
          </div>          
        </div>
      </mat-list-item>
      <mat-list-item>     
        <div class="teamblock1imgwrapper"><div class="teamblock1img"><img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/teamimg4.jpg" style="width:100%; display:block"></div></div>
        <div class="teamblock1content">
          <div class="teamblock1contentinner">
            <mat-card-title class="mat-card-title1">Kyle Stozek</mat-card-title>
            <mat-card-content>
              <p>Business Development</p>
            </mat-card-content>
          </div>          
        </div>
      </mat-list-item>
      <mat-list-item> 
        <div class="teamblock1imgwrapper"><div class="teamblock1img"><img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/teamimg5.jpg" style="width:100%; display:block"></div></div>
        <div class="teamblock1content">
          <div class="teamblock1contentinner">
            <mat-card-title class="mat-card-title1">Lannah Paredes</mat-card-title>
            <mat-card-content>
              <p>Project Director</p>
            </mat-card-content>
          </div>          
        </div>
      </mat-list-item>
      <mat-list-item>    
        <div class="teamblock1imgwrapper"><div class="teamblock1img"><img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/teamimg6.jpg" style="width:100%; display:block"></div></div>
        <div class="teamblock1content">
          <div class="teamblock1contentinner">
            <mat-card-title class="mat-card-title1">Debasis Kar</mat-card-title>
            <mat-card-content>
              <p>Software Developer</p>
            </mat-card-content>
          </div>          
        </div>
      </mat-list-item>      
    </mat-list>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>