<app-header></app-header>

<!-- <mat-card class="teamblock1bg pTB">
    <mat-card-content class="mainwrapper">
      <div class="flex-column-gen">          
        </div>
    </mat-card-content>
</mat-card> -->

<img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/team-img1.jpg" style="padding-top: 84px; width:100%; display:block">  
<img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/team-img2.jpg" style="width:100%; display:block">  


<app-footer></app-footer>
