<div class="loder_body" *ngIf="loading">
  <div class="loder_wrapper">
    <div class="no-freeze-spinner">  
      <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/logo.png">
        <div class="loader">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <div class="bar4"></div>
          <div class="bar5"></div>
          <div class="bar6"></div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>