/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

@font-face {
  font-family: 'RalewayExtraBold';
  src: url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-ExtraBold.eot');
  src: url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-ExtraBold.woff2') format('woff2'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-ExtraBold.woff') format('woff'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-ExtraBold.ttf') format('truetype'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-ExtraBold.svg#http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayBold';
  src: url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Bold.eot');
  src: url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Bold.woff2') format('woff2'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Bold.woff') format('woff'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Bold.ttf') format('truetype'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Bold.svg#http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayMedium';
  src: url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Medium.eot');
  src: url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Medium.woff2') format('woff2'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Medium.woff') format('woff'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Medium.ttf') format('truetype'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Medium.svg#http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RalewaySemiBold';
  src: url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-SemiBold.eot');
  src: url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-SemiBold.woff2') format('woff2'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-SemiBold.woff') format('woff'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-SemiBold.ttf') format('truetype'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/OpenSans-Bold.eot');
  src: url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/OpenSans-Bold.woff2') format('woff2'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/OpenSans-Bold.woff') format('woff'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/OpenSans-Bold.ttf') format('truetype'),
      url('http://all-frontend-assets.s3.amazonaws.com/monetize365/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}





/* Variables */

:root {
    --main-bg-color: #f0f4f7;
    --main-txt-color: #000000;  
    /* --main-padding: 15px;   */
    /* --main-margin: 44px;   */
  
    --height-window:100vh;
    --border-radius-0: 0;
    --wrapper-1628:1628px;
    --gray-bgColor:#d0e2ec;
  
    --color-txt:#fff;
    --color2-txt:#433103;
    --color3-txt:#05b9ff;
    --color4-txt:#90dd1a;
    --color5-txt:#edd80c;
    --color6-txt:#f6de2c;
    --color7-txt:#8b939c;

    --section-block--top-padding:60px;
    --section-block-bottom-padding:60px;
    --text-shadow:1px 1px 2px rgba(150, 150, 150, 1);;
  
    /* Colors */
    --gray-base:              #000;
    --gray-darker:            lighten(--gray-base, 13.5%);
    --gray-dark:              lighten(--gray-base, 20%);
    --gray:                   lighten(--gray-base, 33.5%);
    --gray-light:             lighten(--gray-base, 46.7%);
    --gray-lighter:           lighten(--gray-base, 93.5%);
  
    --brand-primary:         #000000;
    --brand-success:         #5cb85c;
    --brand-info:            #5bc0de;
    --brand-warning:         #f0ad4e;
    --brand-danger:          #d9534f;
  
  /* Scaffolding */
    --body-bg:               #fff;
    --text-color:            var(--gray-dark);
    --link-color:            var(--brand-primary);
    --link-hover-color:#e02712;
    --link-hover-decoration: underline;
    }
  
  * {
  
    /* Typography */
    --font-family-base: 'RalewayMedium';
    --main-font: 'RalewayMedium';
    --main-bold-font: 'RalewayBold';
    --main-bold-font2: 'OpenSansBold';
    --main-semibold-font: 'RalewaySemiBold';
    --main-extrabold-font: 'RalewayExtraBold';
    --base-menu-font-size:20px;
    /* Calculation */
    --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 320px) / (1200 - 320))); 
  }

  
  .homebannerbg .mat-card-title {
    --max-font: 130;
    --min-font: 114;
    font-family: var(--main-extrabold-font);
    font-size: var(--responsive);
    color:var(--color2-txt);
    line-height: 110px;
    text-transform: uppercase;
  }
  .homebannerbg .mat-card-subtitle {
    --max-font: 46;
    --min-font: 38;
    font-family: var(--main-bold-font);
    font-size: var(--responsive);
    color: var(--color2-txt);
    text-transform: uppercase;
    line-height: 48px;
    margin-top: 8px !important;
  }
  .homebannerbg p{
    color:var(--color2-txt);
    margin-top: 14px !important;
    font-family: var(--main-font);
    font-size: var(--base-menu-font-size);
  }

  .pTB .mat-card-title1{
    --max-font: 40;
    --min-font: 24;
    font-family: var(--main-bold-font);
    font-size: var(--responsive);
    line-height: 52px;
  }
  .pTB .mat-card-title2 {
    --max-font: 30;
    --min-font: 18;
    font-family: var(--main-bold-font);
    font-size: var(--responsive);
    text-transform:uppercase;
    line-height: 32px;
  }

  
  .pTB .mat-card-title3 {
    --max-font: 24;
    --min-font: 17;
    font-family: var(--main-bold-font);
    font-size: var(--responsive);
    text-transform:uppercase;
    margin-top:6px !important;
  }

  .pTB .mat-card-title4 {
    --max-font: 18;
    --min-font: 16;
    font-family: var(--main-bold-font);
    font-size: var(--responsive);
  }
  
  .pTB .mat-card-title5 {
    --max-font: 14;
    --min-font: 14;
    font-family: var(--main-bold-font);
    font-size: var(--responsive);
  }
  .pTB .mat-card-title6 {
    --max-font: 12;
    --min-font: 12;
    font-family: var(--main-bold-font);
    font-size: var(--responsive);
  }
  .pTB p {
    font-family: var(--main-font);
    margin: 0;
    width: fit-content;
    --max-font: 20;
    --min-font: 14;
    font-size: var(--responsive);
    margin-top: 26px !important;
  }

  .mstxtcenter{text-align: center;}
  
  @media (min-width: 1200px) {
    h1,
    p {
      font-size: calc(var(--max-font) * 1px);
    }
  }
  
  @media (max-width: 420px) {
    h1,
    p {
      font-size: calc(var(--min-font) * 1px);
    }
  }


  .mat-card-title110 {
    --max-font: 110;
    --min-font: 90;
    font-family: var(--main-bold-font2);
    font-size: var(--responsive);
    /* color:var(--color3-txt); */
    line-height: 100px;
    text-transform: uppercase;
  }

   .text-gradient-blue {text-transform: capitalize;background: linear-gradient(to bottom,rgba(13,187,255,1) 0%, rgba(55,199,255,1) 50%, rgba(4,148,208,1) 52%, rgba(5,184,254,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
   .text-gradient-green {text-transform: capitalize;background: linear-gradient(to bottom,rgba(144,221,26,1) 0%, rgba(144,221,26,1) 50%, rgba(104,161,17,1) 52%, rgba(139,214,25,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
   .text-gradient-yellow {text-transform: capitalize;background: linear-gradient(to bottom,rgba(237,216,14,1) 0%, rgba(237,216,14,1) 50%, rgba(181,164,8,1) 52%, rgba(225,205,11,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}

   .box-gradient-yellow{color:var(--color-txt) !important;text-transform: uppercase;background: -moz-linear-gradient(270deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 224, 30,1)), color-stop(100%, rgba(253,190,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee622', endColorstr='#fdbe00',GradientType=0 ); /* ie6-9 */}

    .box-gradient-orange{color:var(--color-txt);text-transform: uppercase;background: -moz-linear-gradient(270deg, rgba(249, 145, 32) 0%, rgba(254,80,52,1) 100%); /* ff3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(249, 145, 32)), color-stop(100%, rgba(254,80,52,1))); /* safari4+,chrome */
      background: -webkit-linear-gradient(270deg, rgba(249, 145, 32) 0%, rgba(254,80,52,1) 100%); /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(270deg, rgba(249, 145, 32) 0%, rgba(254,80,52,1) 100%); /* opera 11.10+ */
      background: -ms-linear-gradient(270deg, rgba(249, 145, 32) 0%, rgba(254,80,52,1) 100%); /* ie10+ */
      background: linear-gradient(180deg, rgba(249, 145, 32) 0%, rgba(254,80,52,1) 100%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a21d', endColorstr='#fe5034',GradientType=0 ); /* ie6-9 */}

      .box-gradient-red{color:var(--color-txt);text-transform: uppercase;background: -moz-linear-gradient(270deg, rgba(223,81,113,1) 0%, rgba(239,43,97,1) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(223,81,113,1)), color-stop(100%, rgba(239,43,97,1))); /* safari4+,chrome */
        background: -webkit-linear-gradient(270deg, rgba(223,81,113,1) 0%, rgba(239,43,97,1) 100%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(270deg, rgba(223,81,113,1) 0%, rgba(239,43,97,1) 100%); /* opera 11.10+ */
        background: -ms-linear-gradient(270deg, rgba(223,81,113,1) 0%, rgba(239,43,97,1) 100%); /* ie10+ */
        background: linear-gradient(180deg, rgba(223,81,113,1) 0%, rgba(239,43,97,1) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df5171', endColorstr='#ef2b61',GradientType=0 ); /* ie6-9 */}

        .box-gradient-pink{color:var(--color-txt);text-transform: uppercase;background: -moz-linear-gradient(270deg, rgba(243,90,166,1) 0%, rgba(204,54,152,1) 100%); /* ff3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243,90,166,1)), color-stop(100%, rgba(204,54,152,1))); /* safari4+,chrome */
          background: -webkit-linear-gradient(270deg, rgba(243,90,166,1) 0%, rgba(204,54,152,1) 100%); /* safari5.1+,chrome10+ */
          background: -o-linear-gradient(270deg, rgba(243,90,166,1) 0%, rgba(204,54,152,1) 100%); /* opera 11.10+ */
          background: -ms-linear-gradient(270deg, rgba(243,90,166,1) 0%, rgba(204,54,152,1) 100%); /* ie10+ */
          background: linear-gradient(180deg, rgba(243,90,166,1) 0%, rgba(204,54,152,1) 100%); /* w3c */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f35aa6', endColorstr='#cc3698',GradientType=0 ); /* ie6-9 */}

        .box-gradient-deepblue{color:var(--color-txt);text-transform: uppercase;background: -moz-linear-gradient(270deg, rgba(21,132,196,1) 0%, rgba(3,115,187,1) 100%); /* ff3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(21,132,196,1)), color-stop(100%, rgba(3,115,187,1))); /* safari4+,chrome */
          background: -webkit-linear-gradient(270deg, rgba(21,132,196,1) 0%, rgba(3,115,187,1) 100%); /* safari5.1+,chrome10+ */
          background: -o-linear-gradient(270deg, rgba(21,132,196,1) 0%, rgba(3,115,187,1) 100%); /* opera 11.10+ */
          background: -ms-linear-gradient(270deg, rgba(21,132,196,1) 0%, rgba(3,115,187,1) 100%); /* ie10+ */
          background: linear-gradient(180deg, rgba(21,132,196,1) 0%, rgba(3,115,187,1) 100%); /* w3c */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1584c4', endColorstr='#0373bb',GradientType=0 ); /* ie6-9 */}

        .box-gradient-blue{color:var(--color-txt);text-transform: uppercase;background: -moz-linear-gradient(270deg, rgba(76,188,230,1) 0%, rgba(14,169,225,1) 100%); /* ff3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(76,188,230,1)), color-stop(100%, rgba(14,169,225,1))); /* safari4+,chrome */
          background: -webkit-linear-gradient(270deg, rgba(76,188,230,1) 0%, rgba(14,169,225,1) 100%); /* safari5.1+,chrome10+ */
          background: -o-linear-gradient(270deg, rgba(76,188,230,1) 0%, rgba(14,169,225,1) 100%); /* opera 11.10+ */
          background: -ms-linear-gradient(270deg, rgba(76,188,230,1) 0%, rgba(14,169,225,1) 100%); /* ie10+ */
          background: linear-gradient(180deg, rgba(76,188,230,1) 0%, rgba(14,169,225,1) 100%); /* w3c */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cbce6', endColorstr='#0ea9e1',GradientType=0 ); /* ie6-9 */}

        .box-gradient-deepgreen{color:var(--color-txt);text-transform: uppercase;background: -moz-linear-gradient(270deg, rgba(123,189,62,1) 0%, rgba(17,163,72,1) 100%); /* ff3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(123,189,62,1)), color-stop(100%, rgba(17,163,72,1))); /* safari4+,chrome */
          background: -webkit-linear-gradient(270deg, rgba(123,189,62,1) 0%, rgba(17,163,72,1) 100%); /* safari5.1+,chrome10+ */
          background: -o-linear-gradient(270deg, rgba(123,189,62,1) 0%, rgba(17,163,72,1) 100%); /* opera 11.10+ */
          background: -ms-linear-gradient(270deg, rgba(123,189,62,1) 0%, rgba(17,163,72,1) 100%); /* ie10+ */
          background: linear-gradient(180deg, rgba(123,189,62,1) 0%, rgba(17,163,72,1) 100%); /* w3c */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bbd3e', endColorstr='#11a348',GradientType=0 ); /* ie6-9 */}

        .box-gradient-green{color:var(--color-txt) !important;text-transform: uppercase;background: -moz-linear-gradient(270deg, rgba(192,223,38,1) 0%, rgba(110,190,63,1) 100%); /* ff3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(192,223,38,1)), color-stop(100%, rgba(110,190,63,1))); /* safari4+,chrome */
          background: -webkit-linear-gradient(270deg, rgba(192,223,38,1) 0%, rgba(110,190,63,1) 100%); /* safari5.1+,chrome10+ */
          background: -o-linear-gradient(270deg, rgba(192,223,38,1) 0%, rgba(110,190,63,1) 100%); /* opera 11.10+ */
          background: -ms-linear-gradient(270deg, rgba(192,223,38,1) 0%, rgba(110,190,63,1) 100%); /* ie10+ */
          background: linear-gradient(180deg, rgba(192,223,38,1) 0%, rgba(110,190,63,1) 100%); /* w3c */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0df26', endColorstr='#6ebe3f',GradientType=0 ); /* ie6-9 */}
    
    .counterblock{    
      border-radius: 50px;
      width: 65px;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 20px;
      font-family: var(--main-bold-font2);
      font-size: 40px;
    }


   /*----Two side trasnparent gradient*/

   .homeblock3.pTB .mat-list-base .mat-list-item:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 1px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 1)), color-stop(49%, rgba(174, 174, 174, 1)), to(rgba(255, 255, 255, 1)));
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(174, 174, 174, 1) 49%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    -webkit-transform: rotateY(180deg);
    transform: rotate(180deg);
  }
  .homeblock3.pTB .mat-list-base .mat-list-item:last-child::after{
    content: "";
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 1px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 1)), color-stop(49%, rgba(174, 174, 174, 1)), to(rgba(255, 255, 255, 1)));
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(174, 174, 174, 1) 49%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    -webkit-transform: rotateY(180deg);
    transform: rotate(180deg);
  }
  

  *, *::after, *::before { box-sizing:border-box;margin:0;padding:0}
  html,body{height:100%;}
  a,a:visited,a:focus,a:active,a:link{text-decoration:none;outline:0; cursor: pointer;}
  a{color:var(--link-color);transition:.2s ease-in-out}
  h1, h2, h3, h4 {margin: .3em 0;}
  .mat-list-base{padding:0;list-style:none}
  img{vertical-align:middle;height:auto;width:100%}
  [hidden]{display:none}
  :host /deep/ .mat-card-content {font-size: var(--base-menu-font-size);}
  :host /deep/ .mat-card-subtitle {margin-bottom: 0 !important;}
  :host /deep/ .mat-list-item-content {padding: 0 !important;} 
  :host /deep/ .mat-card-title {margin-bottom: 0 !important;}
  :host /deep/ .mat-card-subtitle:not(:first-child), .mat-card-title:not(:first-child) {margin-top: 0;}
  :host /deep/ .mat-card{font-family: var(--main-font) !important;padding: 0 !important;border-radius: 0 !important; box-shadow: none;}
  :host /deep/ .mainfooter_block1_con2_top .mat-list-base .mat-list-item .mat-list-item-content{padding:0 !important;}
  
  .mat-list-base {padding-top: 0;}    
  .mat-card:not([class*=mat-elevation-z]){box-shadow: none;}
  .mat-list-base .mat-list-item {--max-font: 16;--min-font: 14;font-family: var(--main-font);font-size: var(--responsive);}
  
  .pTB{padding: 0;border-radius: 0;padding-top: var(--section-block--top-padding) !important;padding-bottom: var(--section-block-bottom-padding) !important;}
  .mainwrappercontent{width:var(--wrapper-1628); margin: 0 auto;display: block;}

  @media (max-width: 1200px) {
    .vpheaderwrapper .mainwrappercontent{width:100%;}
    .mainwrappercontent{width:96%; margin: 0 auto;}
  }
  
  .homeblock5.pTB .tabwrapper .mat-tab-label .mat-tab-label-content .mat-card-title2{
    --max-font: 26;
    --min-font: 18;
    font-family: var(--main-font);
    font-size: var(--responsive);
    text-transform: capitalize;
    line-height: 32px;
    color: var(--main-txt-color);
    margin-bottom: 20px !important;
  }
 
    
  /******** LOADER ********/
  .loder_body { width: 100%; height: 100vh;  position: fixed; left: 0; top: 0; background-color: #061124; z-index: -1}
  .loder_wrapper {width: 300vh; height: 100vh; display: table-cell; text-align: center; vertical-align: middle}
  .loder_wrapper img {width: 280px; margin: 0 auto; margin-bottom: 20px}
  .heart-rate{width:150px;height:73px;position:relative;margin:20px auto}
  .fade-in{position:absolute;width:100%;height:100%;background-color:#061124;top:0;right:0;animation:heartRateIn 2.5s linear infinite}
  .fade-out{position:absolute;width:120%;height:100%;top:0;left:-120%;animation:heartRateOut 2.5s linear infinite;background:rgba(6,17,36,1);background:-moz-linear-gradient(left,rgba(6,17,36,1) 0%,rgba(6,17,36,1) 50%,rgba(6,17,36,0) 100%);background:-webkit-linear-gradient(left,rgba(6,17,36,1) 0%,rgba(6,17,36,1) 50%,rgba(6,17,36,0) 100%);background:-o-linear-gradient(left,rgba(6,17,36,1) 0%,rgba(6,17,36,1) 50%,rgba(6,17,36,0) 100%);background:-ms-linear-gradient(left,rgba(6,17,36,1) 0%,rgba(6,17,36,1) 50%,rgba(6,17,36,0) 100%);background:linear-gradient(to right,rgba(6,17,36,1) 0%,rgba(6,17,36,1) 80%,rgba(6,17,36,0) 100%)}
  @keyframes heartRateIn {
  0%{width:100%}
  50%{width:0}
  100%{width:0}
  }
  @keyframes heartRateOut {
  0%{left:-120%}
  30%{left:-120%}
  100%{left:0}
  }
  
  /******** flex-column ********/
  .flex-column-gen{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;box-orient:vertical;width:100%}
  .main-gen,.sideblock-gen{width:100%}
  .sideblock-gen{-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;order:2}
  .main-gen{-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;order:1}
    /******** flex-Row ********/
  .flex-row-gen{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex!important;-webkit-box-orient: horizontal;-moz-box-orient: horizontal;-webkit-box-direction: normal;-moz-box-direction: normal; -webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;width:100%}
  .main-row-gen{-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;order:1}
  .sideblock-row-gen{-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;order:2}




  .homeblock5 .tabwrapper{position: relative;background: url(http://all-frontend-assets.s3.amazonaws.com/monetize365/images/homeblock5tabtop.jpg) no-repeat top center; background-size: 100%;}
  .homeblock5 .tabwrapper .mat-tab-label { height: auto;flex: 1;width: 100%;padding: 0;}
  .homeblock5 .tabwrapper .mat-tab-label .mat-tab-label-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;    
    width: 100%;
    flex-wrap: wrap;
}

.homeblock5 .tabwrapper .mat-tab-label{
  margin-bottom: 78px;
}

.homeblock5 .tabwrapper .mat-tab-label.mat-ripple {
  overflow: inherit;
}
.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: transparent !important;
}
.mat-tab-header {
  border-bottom: none;
}
.homeblock5 .tabwrapper .mat-tab-label .mat-tab-label-content .mat-card-title{flex: 1 1 100%;}
.homeblock5 .tabwrapper .mat-tab-label .mat-tab-label-content img{width: auto;}
.homeblock5 .tabwrapper .mat-tab-labels .mat-tab-label:nth-child(1){
  color:var(--color-txt);text-transform: uppercase;background: -moz-linear-gradient(270deg, rgba(249, 145, 32, 1) 0%, rgba(254,80,52,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(249, 145, 32, 1)), color-stop(100%, rgba(254,80,52,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(249, 145, 32, 1) 0%, rgba(254,80,52,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(249, 145, 32, 1) 0%, rgba(254,80,52,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(249, 145, 32, 1) 0%, rgba(254,80,52,1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(249, 145, 32, 1) 0%, rgba(254,80,52,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a21d', endColorstr='#fe5034',GradientType=0 ); /* ie6-9 */opacity: 1;
}
.homeblock5 .tabwrapper .mat-tab-labels .mat-tab-label:nth-child(2){
  color:var(--color-txt) !important;text-transform: uppercase;background: -moz-linear-gradient(270deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 224, 30,1)), color-stop(100%, rgba(253,190,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee622', endColorstr='#fdbe00',GradientType=0 ); /* ie6-9 */opacity: 1;
}
.homeblock5 .tabwrapper .mat-tab-labels .mat-tab-label:nth-child(3){
  color:var(--color-txt);text-transform: uppercase;background: -moz-linear-gradient(270deg, rgba(123,189,62,1) 0%, rgba(17,163,72,1) 100%); /* ff3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(123,189,62,1)), color-stop(100%, rgba(17,163,72,1))); /* safari4+,chrome */
          background: -webkit-linear-gradient(270deg, rgba(123,189,62,1) 0%, rgba(17,163,72,1) 100%); /* safari5.1+,chrome10+ */
          background: -o-linear-gradient(270deg, rgba(123,189,62,1) 0%, rgba(17,163,72,1) 100%); /* opera 11.10+ */
          background: -ms-linear-gradient(270deg, rgba(123,189,62,1) 0%, rgba(17,163,72,1) 100%); /* ie10+ */
          background: linear-gradient(180deg, rgba(123,189,62,1) 0%, rgba(17,163,72,1) 100%); /* w3c */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bbd3e', endColorstr='#11a348',GradientType=0 ); /* ie6-9 */opacity: 1;
}

.homeblock5 .tabwrapper .mat-tab-header{margin-top: 85px;}

.homeblock5 .mat-tab-body-wrapper{margin-top: 0px;background: -moz-linear-gradient(90deg, rgba(255,255,255,0.15) 0%, rgba(221,232,237,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(221,232,237,1)), color-stop(100%, rgba(255,255,255,0.15))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.15) 0%, rgba(221,232,237,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(255,255,255,0.15) 0%, rgba(221,232,237,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(255,255,255,0.15) 0%, rgba(221,232,237,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(255,255,255,0.15) 0%, rgba(221,232,237,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde8ed', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */}
  .homeblock5 .mat-tab-body-wrapper .mat-card-title{margin-top: 30px;}

/* .generalmodalcls .mat-dialog-content{margin:0!important;padding:0!important}
.generalmodalcls .modal-content{background:#f9f9f9;position:relative;z-index:20;border-radius:0;color:#000;box-shadow:none;position:relative;-ms-flex:1 1 auto;flex:1 1 auto;padding:15px;-moz-box-shadow:inset 0 0 10px #000;-webkit-box-shadow:inset 0 0 10px #000;box-shadow:inset 0 0 10px #000}
.mat-dialog-container{width:100%;box-shadow:0 3px 7px rgba(0,0,0,.25);box-sizing:border-box;transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;padding:10px!important;border-radius:0!important;height:inherit!important;margin-top:20px;margin-bottom:20px}
.mat-dialog-actions{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:end;justify-content:flex-end;padding:0}
.generalmodalcls .mat-dialog-actions{padding:8px 0;display:flex;flex-wrap:wrap;min-height:52px;align-items:center;margin-bottom:0;justify-content:center}
.generalmodalcls .logowrapperouter{background-color:#151519;padding:15px;margin-bottom:15px}
.generalmodalcls .logowrapper{text-align:center;width:100%;margin:0 auto!important;display: block;}
.generalmodalcls .logowrapper img{max-width: 100%;}
.generalmodalcls .infomodal{max-width:96vw}
.generalmodalcls h1{display:block;text-align:center;margin:0;padding:10px 0 15px;font-size:24px;color:#111;font-family:var(--main-bold-font); text-transform: uppercase;}
.generalmodalcls .mat-form-field-appearance-legacy .mat-form-field-infix{width:auto;padding:0 15px!important;height:36px!important;background:#e1e0e6!important;margin:5px 0;height:50px!important}
.generalmodalcls .mat-form-field-appearance-legacy .mat-form-field-infix input{height:50px!important}
.generalmodalcls .mat-form-field{display:block!important}
.generalmodalcls .mat-form-field-flex{display:block!important;border:none!important;padding:0!important} */


.homeblock5 .tabwrapper .mat-tab-labels .mat-tab-label:nth-child(2).mat-tab-label-active:after{
  content: '';
  position: absolute;
  bottom: -73px;
  width: 100%;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 270px;
  border-right-width: 270px;
  border-top: 74px solid #fdbe00;
  z-index: 999;
}

.homeblock5 .tabwrapper .mat-tab-labels .mat-tab-label:nth-child(1).mat-tab-label-active:after{
  content: '';
  position: absolute;
  bottom: -73px;
  width: 100%;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 270px;
  border-right-width: 270px;
  border-top: 74px solid #fe5333;
  z-index: 999;
}

.homeblock5 .tabwrapper .mat-tab-labels .mat-tab-label:nth-child(3).mat-tab-label-active:after{
  content: '';
  position: absolute;
  bottom: -73px;
  width: 100%;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 270px;
  border-right-width: 270px;
  border-top: 74px solid #11a348;
  z-index: 999;
}

.matbuttoncls{
  padding: 20px 70px !important;
  background: -webkit-gradient(linear, left top, right top, from(rgba(247,203,0,1)), to(rgba(255,192,0,1)));
  background: linear-gradient(90deg, rgba(247,203,0,1) 0%, rgba(255,192,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7cb00', endColorstr='#ffc000',GradientType=1 );
  border-radius: 50px !important;
  font-family: var(--main-bold-font);
  text-transform: uppercase;
  font-size: 18px;
  color:#171a1d;
}